aside#sidebar-right.sidebar-right
  .nano
    .nano-content
      a.mobile-close.d-md-none(href='#')
        | Collapse 
        i.fas.fa-chevron-right
      .sidebar-right-wrapper
        .sidebar-widget.widget-calendar
          h6 Upcoming Tasks
          div(data-plugin-datepicker='' data-plugin-skin='dark')
          ul
            li
              time(datetime='2017-04-19T00:00+00:00') 04/19/2017
              span Company Meeting
        .sidebar-widget.widget-friends
          h6 Friends
          ul
            li.status-online
              figure.profile-picture
                img.rounded-circle(src='img/!sample-user.jpg' alt='Joseph Doe')
              .profile-info
                span.name Joseph Doe Junior
                span.title Hey, how are you?
            li.status-online
              figure.profile-picture
                img.rounded-circle(src='img/!sample-user.jpg' alt='Joseph Doe')
              .profile-info
                span.name Joseph Doe Junior
                span.title Hey, how are you?
            li.status-offline
              figure.profile-picture
                img.rounded-circle(src='img/!sample-user.jpg' alt='Joseph Doe')
              .profile-info
                span.name Joseph Doe Junior
                span.title Hey, how are you?
            li.status-offline
              figure.profile-picture
                img.rounded-circle(src='img/!sample-user.jpg' alt='Joseph Doe')
              .profile-info
                span.name Joseph Doe Junior
                span.title Hey, how are you?
